.cart {
    height: 100vh;
}

/* .cart {
    padding: 1rem;
    margin: 1.3rem;
}

.cart-header {
    border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
    padding: 0;
    width: 100%;
    list-style-type: none;
} */