@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  /* min-height:100%; */
  position:relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, 
#root {
  height: 100vh;
  margin: 0;
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

.container{
  height: 100%;
}

/* .sidebar {
  height: 100vh;
}

main {
  grid-area: main;
} */

footer {
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .content {
  display: flex;
  flex-wrap: wrap;
} */

/* .main {
  flex: 3 60rem;
} */

/* .button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
} */
/* .button:hover {
  border: 0.1rem #808080 solid;
} */


/* .filter-container{
  top: 1px;
} */

/* Filter */
/* .filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
} */

/* Index.css */
.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-header div {
  flex: 1;
}

.cart-items ul {
  list-style-type: none;
}

.cart-items ul li {
  display: flex;
  justify-content: space-between;
  margin: 1rem; 
  align-items: center;
}

.total-cost {
  text-align: right;
}

.cart-items img {
  width: 5rem;
}

.title {
  font-size: 12px;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
  font-size: 1.5rem;
}

/* forms */
form {
  width: 100%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: right;
  padding: 0;
}
.success-message {
  color: green;
}
/* Orders */
.orders {
  width: 100%;
  padding: 10px;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 5px;
}
th {
  text-align: left;
}

